.App {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow:auto;
    min-height: 100vh;
    text-align: center;
}
.paddedText {
    border: 3px solid black;
}

.paddedButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.paddedButton {
    margin: 10px;
    padding: 10px;
    
}

#searchResultScroll {
    width: 70vw;
}
.listButton {
    width: 95%;
    text-align: right;
    padding: 3mm;
    font-size: 16px;
    margin: 2mm;
    border-radius: 8px;
}
.listContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.listImage {
    width: 20%;
    max-height: 120px;
    max-width: 120px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center center;
}
.primaryColor {
    background-color: #66B2FF;
}
.secondaryColor {
    background-color: #004C99;
}
.primaryColor:active {
    background-color: #3399FF;
}
.sideBarText {
    font-size: 10px;
}
#detailedImage {
    width: 40%;
    object-fit: cover;
    object-position: center center; 
    grid-row: 2/4;
    grid-column: 0/1;
    margin: 2%;
}
#detailedPage {
    display: grid;
    grid-template-columns: auto auto;
    padding: 4px;
    width: 90%;
    margin: 3%;
    border-radius: 10px;
}
#playerFullName {
    font-size: x-large;
    font-weight: bold;
    text-align: right;
    grid-row: 0/1;
    grid-column: 1 / 6;
}
#PlayerHeight {
    grid-row: 2/3;
    grid-column: 2/3;
}
#PlayerAge {
    grid-row: 2/3;
    grid-column: 3/4;
}
#PlayedTeams {
    grid-row: 3/4;
    grid-column: 2/6;
}
#Nationality {
    grid-row: 2/3;
    grid-column: 4/5;
}
#Position {
    grid-row: 2/3;
    grid-column: 5/6;
}
.gridText {
    font-size: large;
    text-align: left;
    margin: 2%;
    padding: 1mm;
    border-radius: 10px;
}
.last5Match {
    margin: 1%;
    width: 95%;
}
#sideBarSlider {
    width: 90%; 
    max-width: 600px;
}

.teamLogo {
    width: 25%;
    object-fit: cover;
}
.matchLabels {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.matchResultLeft {
    width: 30%;
}
